{% extends "::base.html.twig" %}

{% block body %}
    {% block header %}
        <header>
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('app_main_index') }}" class="menu">Cafe Critic</a></li>
                </ul>

                {% if app.user != null %}
                    <a href="{{ path('fos_user_security_logout') }}" class="menu right-bar">Logout</a>
                    <a href="{{ path('app_main_new') }}" class="menu right-bar">Add new place</a>
                {% else %}
                    <a href="{{ path('fos_user_registration_register') }}" class="menu right-bar">Sign up</a>
                    <a href="{{ path('fos_user_security_login') }}" class="menu right-bar">Log in</a>
                {% endif %}
                <form class="navbar-form navbar-right search-head" action="{{ path('app_main_index') }}">
                    <div class="form-group">
                        <input type="text" name="search" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
            <div style="clear: both"></div>
        </header>
    {% endblock header %}
    {% block content %}{% endblock content %}
{% endblock body %}