{% extends "@App/Main/header.html.twig" %}

{% block title %}AppBundle:Main:new{% endblock %}

{% block content %}
    <div class="container">
        <h1>All Places</h1>
        <span>Select category: </span>

        <a href="{{ path('app_main_index') }}" class="menu">All</a>
        {% for category in categories %}
            <a href="{{ path('app_main_index', {'category_id' : category.id}) }}" class="menu">{{ category.name }}</a>
        {% endfor %}

        <div class="row">
            {% for place in places %}
                <div class="col-lg-3">
                    <div class="index-place">
                        <a href="{{ path('app_main_place', {'place_id' : place.id}) }}">
                            <img class="main_img" src="{{ vich_uploader_asset(place, 'imageFile') }}">
                        </a>
                    </div>
                    <a href="{{ path('app_main_place', {'place_id' : place.id}) }}">{{ place.name }}</a>
                    <div class="rating">
                        <input type="hidden" name="val" value="{{ scores[place.id]['overall'] }}"/>
                    </div>
                    ({{ scores[place.id]['overall'] }}, {{ scores[place.id]['count'] }} reviews)
                    <div>{{ count_photos[place.id] }} photos</div>
                    <br>
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(places) }}
        </div>
    </div>

    <script>
        $('div.rating').rating(
            {
                fx: 'float',
                readOnly: true
            });
    </script>
{% endblock %}
