{% extends "::base.html.twig" %}

{% block title %}AppBundle:Main:new{% endblock %}

{% block body %}
    <h1>Welcome to the Main:new page</h1>
<div class="container">
    <div class="col-md-offset-3 col-md-6">
        {{ form_start(form, {'action': path('app_main_create'), 'method': 'POST'}) }}
        <div class="form-group">
            <label>Title</label>
            {{ form_widget(form.name) }}
        </div>
        <div class="form-group">
            <label>Category</label>
            {{ form_widget(form.category) }}
        </div>
        <div class="form-group">
            <label>Description</label>
            {{ form_widget(form.description) }}
        </div>
        <div class="form-group">
            <label>Main Foto</label>
            {{ form_widget(form.imageFile) }}
        </div>
        <span class="atention">Заведение появится в списке только после одобрения админом</span>
        <input type="checkbox" required id="agree"><span>I understand</span>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}