{% extends "@App/Main/header.html.twig" %}

{% block title %}AppBundle:Main:new{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>{{ place.name }}</h1>
                <p>{{ place.description }}</p>
            </div>
            <div class="col-lg-6">
                <img class="main_img" src="{{ vich_uploader_asset(place, 'imageFile') }}">
            </div>
        </div>
        <div class="row">
            <h3 class="text-left">Gallery</h3>
            <div>
                {% for photo in photos %}
                    <div class="col-xs-2">
                        <div class="photo-place">
                            <img class="photo" src="{{ vich_uploader_asset(photo, 'imageFile') }}">
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>
        </div>
        <hr>

        <div class="ratings">
            <h4>Ratings</h4>
            <div class="rating overall">
                <input type="hidden" name="val" value="{{ scores['overall'] }}"/>
                <input type="hidden" name="vote-id" value="1"/>
            </div>
            <div class="rating food">
                <input type="hidden" name="val" value="{{ scores['food_score'] }}"/>
                <input type="hidden" name="vote-id" value="1"/>
            </div>
            <div class="rating service">
                <input type="hidden" name="val" value="{{ scores['service_score'] }}"/>
                <input type="hidden" name="vote-id" value="2"/>
            </div>
            <div class="rating interior">
                <input type="hidden" name="val" value="{{ scores['interior_score'] }}"/>
                <input type="hidden" name="vote-id" value="3"/>
            </div>
        </div>

        <div>
            <h4>Reviews</h4>
            {% for review in reviews %}
                <div class="review">
                    {% if app.user != null %}
                        {% if review.user == app.user %}
                            {{ form_start(delete_form, {'action' : path('deleteaction', {'place_id' : place.id})}) }}
                            {{ form_widget(delete_form) }}
                            {{ form_end(delete_form) }}
                        {% endif %}
                    {% endif %}

                    <p>On {{ review.datetime|date('Y-m-d H:i:s') }} {{ review.user.username }} said</p>
                    <p>{{ review.review }}</p>
                    <div class="rating food">
                        <input type="hidden" name="val" value="{{ review.foodQuality }}"/>
                        <input type="hidden" name="vote-id" value="4"/>
                    </div>
                    <div class="rating service">
                        <input type="hidden" name="val" value="{{ review.serviceQuality }}"/>
                        <input type="hidden" name="vote-id" value="5"/>
                    </div>
                    <div class="rating interior">
                        <input type="hidden" name="val" value="{{ review.interior }}"/>
                        <input type="hidden" name="vote-id" value="6"/>
                    </div>

                </div>
            {% endfor %}

            {% if app.user != null %}
                {% if user_review == null %}
                    <h4>Add review</h4>
                    {{ form_start(review_form, {'action' : path('app_main_review', {'place_id' : place.id})}) }}
                    {{ form_widget(review_form) }}
                    {{ form_end(review_form) }}
                {% endif %}

                <h4>Upload new photo</h4>
                {{ form_start(photo_form, {'action' : path('app_main_photo', {'place_id' : place.id})}) }}
                {{ form_widget(photo_form) }}
                {{ form_end(photo_form) }}
            {% endif %}
        </div>
    </div>


    <script>
        $('div.rating').rating(
            {
                fx: 'float',
                readOnly: true
            });
    </script>
{% endblock %}
