.sign_form {
    padding: 0 30px 10px 30px;
    margin-top: 100px;
    background-color: #F7F7F7;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.right-bar {
    float: right;
    display: block;
    cursor: pointer;
    padding: 15px;
}

.right-bar:hover {
    text-decoration: none;
    background-color: #e7e7e7;
}

.main_img {
    max-width: 350px;
    height: auto;
    display: block;
    margin: auto auto;
}

.index-place {
    border: 2px solid #dfe0e2;
    margin-top: 30px;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.photo-place {
    border: 2px solid #dfe0e2;
    width: 100%;
    height: 90px;
    overflow: hidden;
}

.photo {
    max-width: 170px;
    height: auto;
    display: block;
    margin: auto auto;
}

.index-place:hover {
    box-shadow: rgba(83, 78, 82, 0.5) 0 0 15px 0;
}

.search-head {
    margin-left: 5px;
    margin-right: 5px;
}

.review {
    border-top: 1px solid black;
    margin-bottom: 15px;
    margin-top: 10px;
}

.food:before {
    content: "Quality of food";
}

.service:before {
    content: "Service quality";
}

.interior:before {
    content: "Interior";
}

.overall:before {
    content: "Overall";
}

hr {
    color: black
}

.atention {
    margin-left: -200px;
    display: inline-block;
    width: 182px;
}